<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<display-name>JWFS_PROJ_1</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>web.xml.path</param-name>
		<param-value>WebContent/WEB-INF/</param-value>
	</context-param>
	
	<context-param>
		<param-name>author</param-name>
		<param-value>Ronaldo Marques</param-value>
	</context-param>
	
	<context-param>
		<param-name>author-url</param-name>
		<param-value>https://RonaldoMarques.dev</param-value>
	</context-param>
	
	<context-param>
		<param-name>author-email</param-name>
		<param-value>RonaldoMarques@Email.com</param-value>
	</context-param>
	
	<context-param>
		<param-name>country</param-name>
		<param-value>Brazil</param-value>
	</context-param>
	
	<context-param>
		<param-name>estate</param-name>
		<param-value>São Paulo</param-value>
	</context-param>
	
	<context-param>
		<param-name>city</param-name>
		<param-value>São José do Rio Preto</param-value>
	</context-param>
	
	<filter>
		<filter-name>FilterAll</filter-name>
		<filter-class>filter.FilterAll</filter-class>
	</filter>
</web-app>
